{% if include.rom_index != '' and include.rom_url == '' %}
	{% capture include.rom_url %}https://gamingshitposting.github.io/ext-bin-1/roms/{{ include.rom_index }}.nes.7z{% endcapture %}
{% endif %}

{% if include.backend == 'emulatorjs' or include.platform == 'nes' %}
	<div style="width:640px; height:480px; max-width:100%">
		<div id="GameFrame"></div>
	</div>
	<script type="text/javascript">
		EJS_player = '#GameFrame';
		EJS_core = '{{ include.platform }}';
		EJS_gameUrl = '{{ include.rom_url }}';
		EJS_pathtodata = 'https://gamingshitposting.github.io/ext-bin-1/EmulatorJS/data/';
	</script>
	<script src="https://gamingshitposting.github.io/ext-bin-1/EmulatorJS/data/loader.js"></script>
{% else %}
<p>
	<button onclick="(function(ctx){
		ctx.parentElement.scrollIntoView();
		ctx.parentElement.querySelector('iframe.AppFrame').focus();
	})(this)">Focus</button>
	{% if include.platform == 'nds' %}
		<iframe class="AppFrame" src="https://octospacc.gitlab.io/Web-Archives-Misc/Repo/DeSmuME/#RomUrl={{ include.rom_binary }}"></iframe>
	{% endif %}
</p>
{% endif %}