body.main-page,
body.main-page blockquote *
{
	background-color: #141414;
	color: #ffffff;
}

body.main-page aside.see-also a,
body.main-page section.author a
{
	color: #ffffff;
}

body.main-page > section.share a
{
	fill: #808080;
	color: #808080;
}

body.main-page > section.author
{
	background-color: #1a1a1a;
	color: #ffffff;
}

body.main-page > section.author a > img,
footer a > img
{
	display: inline-block;
	margin-right: 12px;
	width: 24px;
	height: 24px;
	float: none;
	border-radius: 999px;
	background-color: #808080;
}

body.main-page > section.author a > img,
footer a > img,
body.main-page > section.author a > svg,
footer a > svg
{
	vertical-align: middle;
}

section.post > article {
	word-wrap: break-word;
}

iframe.AppFrame,
iframe#software-embed-frame {
	height: calc(100vh - 5rem);
	border: none;
	overflow: hidden;
}

body.cinema-view > section.post > article > p.software-embed-wrapper > div.software-embed-container {
	height: calc(100vh - 2rem) !important;
}

#ConfigurationCustomizer > ul > li {
	display: block;
}
#ConfigurationCustomizer > ul[data-section]:before {
	font-weight: bold;
}

section.post > article > p.software-embed-wrapper > button[name="enlarge"] {
	display: none;
}
@media (min-width: 37.5rem) {
	section.post > article > p.software-embed-wrapper > button[name="enlarge"] {
		display: revert;
	}
}

body.cinema-view > section.post > aside {
	display: none;
}

body.cinema-view > section.post,
body.cinema-view > section.post > article,
body.cinema-view > section.post > article > p.software-embed-wrapper,
body.cinema-view > section.post > article > p.software-embed-wrapper > #software-embed-frame,
body.cinema-view > section.post > article > p.software-embed-wrapper > div.software-embed-container,
body.cinema-view > section.post > article > p.software-embed-wrapper > div.software-embed-container > div#software-embed-frame,
body.cinema-view > section.post > article > p.software-embed-wrapper > div.software-embed-container > div#software-embed-frame > div.ejs_game {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0 !important;
	padding-right: 0 !important;
	min-width: 100vw;
}

body.cinema-view > section.post > article > p.software-embed-wrapper > span.software-embed-controls {
	padding-left: 1em;
	padding-right: 1em;
}

/* body.cinema-view > section.post > article > p.software-embed-wrapper,
body.cinema-view > section.post > article > p.software-embed-wrapper > #software-embed-frame {
	min-width: 100%;
} */
